{% extends 'container.html.twig' %}

{% block container %}
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Пользователь
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Юзернейм: {{ user.username }}</li>
            {% if user.fullName %}
                <li class="list-group-item">Полное имя: {{ user.fullName }}</li>
            {% endif %}
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Рейтинг: {{ rating }}</li>
        </ul>
    </div>
{% endblock %}


