{% extends 'base.html.twig' %}



{% if app.getUser() %}
    {% set username = (app.getUser().getFullName()) ? app.getUser().getFullName() : app.getUser().getUsernameCanonical() %}
{% endif %}


{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.theme.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block styles %}{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('index_action') }}">CRUTCHNEWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.getUser() %}
                <li class="nav-item">
                    <a href="{{ url('fos_user_security_logout') }}" class="nav-link">Выйти</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('news_add') }}" class="nav-link">Добавить новость</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ url('fos_user_security_login') }}" class="nav-link">Авторизоваться</a>
            </li>
            <li class="nav-item">
                <a href="{{ url('fos_user_registration_register') }}" class="nav-link">Создать аккаунт</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </nav>
    <div class="container">
        <h1>{% block header_page %}{% endblock %}</h1>
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}