{% extends 'container.html.twig' %}

{% block container %}
    {{  include('form.html.twig', {'form': filter}) }}
    <table class="table table-striped table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>Заголовок</th>
            <th>Автор</th>
            <th>Категория</th>
            <th>Дата</th>
        </tr>
        {% for article in pagination %}
            {% if app.user %}
                {% if app.user.isAdmin %}
                    <tr>
                        <td><a href="{{ url('news_show', {'id': article.id}) }}">{{ article.title }}</a></td>
                        <td><a href="{{ url('show_author', {'id':article.author.id}) }}">{{ article.author.fullName ?? article.author.username }}</a></td>
                        <td>{{ article.category.title }}</td>
                        <td>{{  article.publicationDate is empty ? "" : article.publicationDate | date('Y-m-d') }}</td>
                    </tr>
                {% else %}
                    {% if article.isPublished() %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td><a href="{{ url('news_show', {'id': article.id}) }}">{{ article.title }}</a></td>
                            <td><a href="{{ url('show_author', {'id':news.author.id}) }}">{{ article.author.fullName ?? article.author.username }}</a></td>
                            <td>{{ article.category.title }}</td>
                            <td>{{  article.publicationDate | date('Y-m-d') }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if article.isPublished() %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td><a href="{{ url('news_show', {'id': article.id}) }}">{{ article.title }}</a></td>
                        <td><a href="{{ url('show_author', {'id':article.author.id}) }}">{{ article.author.fullName ?? article.author.username }}</a></td>
                        <td>{{ article.category.title }}</td>
                        <td>{{  article.publicationDate | date('Y-m-d') }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

