{% extends 'container.html.twig' %}

{% block container %}
    <div>
        {% set notices = app.flashes('notice') %}
        {% set errors = app.flashes('error') %}

        {% if notices %}
            {% for message in notices %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if errors %}

            {% for message in errors %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор:  <a href="{{ url('show_author', {'id':news.author.id}) }}">{{ news.author.fullname ?? news.author.username }}</a></h6>
            <h6 class="card-subtitle mb-2 text-muted">Создано: {{ news.createDate | date('Y-m-d') }}</h6>
            {% if news.isPublished() %}
                <h6 class="card-subtitle mb-2 text-muted">Опубликовано: {{ news.publicationDate | date('Y-m-d') }}</h6>
            {% else %}
                <form action="{{ url('add_publication_date', {'id': news.id}) }}">
                <input id="datepicker" type="text">
                <input type="submit" value="Задать дату публикации">
            </form>
                <br>
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted">Категория: {{ news.Category.title }}</h6>
            <p class="card-text">{{ news.body }}</p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>Теги:</h5>
                    {% for tag in news.tags %}
                        <span><a href="{{ url('show_news_by_tag', {'id': tag.id}) }}">{{ tag.title }}</a></span>
                    {% endfor %}
                </li>
                {% if app.user %}
                <li class="list-group-item">
                    <h5>Оценить статью </h5>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'quality', 'rate': '+'}) }}"  class="btn btn-secondary">Качество +</a>
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'quality', 'rate': '-'}) }}"   class="btn btn-secondary">Качество -</a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'relevance', 'rate': '-'}) }}"   class="btn btn-secondary">Актуальность +</a>
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'relevance', 'rate': '+'}) }}"   class="btn btn-secondary">Актуальность -</a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'regard', 'rate': '-'}) }}"   class="btn btn-secondary">Отношение к событию +</a>
                            <a href="{{ url('news_rate' , {'id': news.id, 'param': 'regard', 'rate': '+'}) }}"   class="btn btn-secondary">Отношение к событию -</a>
                        </div>
                    </div>
                    {% endif %}


                </li>
                <li class="list-group-item">
                    <h5>Комментарии</h5>
                    <ul class="list-group">
                        {% for comment in news.comments %}
                            <li class="list-group-item">
                                <a href="{{ url('show_author', {'id':comment.author.id}) }}">{{ comment.author.fullname ?? comment.author.username }}</a>: {{ comment.comment }}
                                {% if app.user %}
                                    {% if app.user.isAdmin() %}
                                        <a href="{{ url('delete_comment', {'id': comment.id, 'news_id': news.id}) }}">Удалить</a>
                                    {% endif %}
                                    
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="list-group-item">Никто еще не оставил ни одного комментария. Будь первым!</li>
                        {% endfor %}
                        <li class="list-group-item">{{ include('form.html.twig', {'form': form }) }}</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <script src="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.min.js') }}">
    </script>
<script>
    $( function() {
    $( "#datepicker" ).datepicker();
    } );
</script>
{% endblock %}


